{% extends 'common/_base.html' %}
{% load static %}
    
{% block main %}
<section class="post-create-section col-6 m-auto shadow p-4">
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}

        <small class="text-danger">
            {{ form.non_field_errors }}
        </small>
        <div class="form-group">
            <label for="{{ form.post_text.id_for_label }}">Type your new post here</label>
            {{ form.post_text }}
            <small class="text-danger">{{ form.post_text.errors }}</small>
        </div>

        <div class="form-group">
            <label for="{{ form.post_attachments.id_for_label }}">Attach Images</label>
            {{ form.post_attachments }}
            <small class="text-danger">{{ form.post_attachments.errors }}</small>
        </div>

        <button type="submit" class="btn my-btn">Add Post</button>

    </form>
</section>
{% endblock main %}